
body{
    background: black

    
}

h1{
    color: white;
    font-style: bold;
    font-size: 100px;
    
}

h2{
    color: white;
    font-style: bold;
    font-size: 30px;
    

}













h60{
    color: white;
    font-style: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100px;
}

h23{
    
    color: white;
    width: 30px;
    height: 30px;
}






h90{
    
    color: white;
    font-style: bold;
    font-size: 60px;
    
}





.section img{
    position: absolute;
    top: 250px;
    right: 30px;
    left: 130px;
    height: 600px;
    width: 500px;
    border-radius: 30px;
    
    

}

.section2 img{
    position: absolute;
    top: 250px;
    right: 30px;
    left: 1330px;
    height: 600px;
    width: 500px;
    border-radius: 30px;
    

}

.section3 img{
    position: absolute;
    top: 340px;
    right: 30px;
    left: 680px;
    height: 400px;
    width: 600px;
    border-radius: 30px;
    

}


button{
    display: grid;
    height: 100%;
    place-items: center;
    background: #000;
    overflow: hidden;
}

button{
    position: relative;
   
    height: 60px;
    width: 1810px;
    margin: 0 35px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #111;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;

}
button:nth-child(1):hover{
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    
}


    

button:nth-child(3):hover{
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    
}


button:nth-child(5):hover{
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    
}

button:nth-child(7):hover{
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    
}

button:nth-child(9):hover{
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    
}

button:nth-child(11):hover{
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    
}

button:nth-child(13):hover{
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    
}

button:nth-child(17):hover{
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    
}

button:nth-child(21):hover{
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    
}

button:nth-child(25):hover{
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    
}

button:nth-child(29):hover{
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    
}

button:nth-child(33):hover{
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    
}

button:nth-child(37):hover{
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    
}


button:last-child:hover{
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;

}
button:first-child::before,
button:last-child::before{
    content: '';
    position: absolute;
    background-color: inherit;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 50px;
    filter: blur(20px);
    opacity: 0;
    transition: opacity 0.5s;
}

button:first-child::before,
button:last-child::before{

    opacity: 1;
    z-index: -1;
}
button:hover{
    z-index: 1;
    animation: glow 8s linear infinite;

}
@keyframes glow {
    0%{
        background-position: 0%;

    }
    100%{
        background-position: 400%;
    }
}
